aclocal.m4
autom4te.cache
buildsys.mk
config.h
config.h.in
config.status
configure
extra.mk
src/mpris2/object-core.c
src/mpris2/object-core.h
src/mpris2/object-player.c
src/mpris2/object-player.h
.deps
.DS_Store
*.a
*.bundle
*.dep
*.diff
*.dll
*.dylib
*.exe
*.log
*.mo
*.moc
*.o
*.patch
*.sha256sum
*.so
*.tar.bz2
*~
