aclocal.m4
autom4te.cache
audacious.pc
audclient.pc
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
extra.mk
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-po
.deps
*.a
*.mo
*.o
*.so
*~
*.patch
*.diff
