aclocal.m4
autom4te.cache
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
extra.mk
src/mpris2/object-core.c
src/mpris2/object-core.h
src/mpris2/object-player.c
src/mpris2/object-player.h
src/qtui/ui_main_window.h
src/qtui/ui_playlist.h
src/qtui/ui_playlist_tabs.h
.deps
*.a
*.dll
*.exe
*.mo
*.o
*.so
*~
*.patch
*.diff
*.bundle
*.moc
